@media (max-width: 1200px) {
  #navbar .row--title__fixed {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 20%;
    margin-left: -29px;
    background: rgba(0, 0, 0, 0.77);
  }

  #navbar .row--title__title {
    margin: 31px -36px;
    width: 31%;
    height: 100%;
  }

  #navbar .row--title__web {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    margin: 61px 39px;
    font-size: 28px;
    color: red;
    width: 125%;
  }

  #navbar .row--title__btn {
    border: 1px solid white;
    width: 133px;
    height: 31px;
    border-radius: 7px;
    font-size: 15px;
    color: white;
    background: rgba(218, 218, 218, 0.13);
  }

  #navbar .row--title__titles {
    color: white;
    position: relative;
    margin: 0 7px;
    font-size: 12px;
    width: 100px;
  }

  #navbar .row--title__next {
    margin-left: 30px;
    animation: __next 1s ease-in-out alternate;
  }

  #navbar .row--title__item {
    text-transform: uppercase;
    font-size: 68px;
    padding: 38px 66px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: white;
    filter: drop-shadow(5px 5px 5px #171717);
    animation: __item 2s ease-in-out alternate;
  }

  #navbar .row--title--item {
    margin: -39px 68px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 2px;
    color: #FFFFFF;
  }

  #navbar .row--title__btn2 {
    width: 322px;
    height: 50px;
    background: #e70018;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    margin: 60px 69px;
  }

  #navbar .row--title__mode {
    margin: -43px 71px;
    color: white;
  }

  #motion .row--card__cards {
    width: 270px;
    height: 171px;
    background: #222222;
    border-radius: 20px;
  }

  #work .row--works__img {
    position: absolute;
    width: 364px;
    height: 259px;
  }

  #work .row--works__card {
    width: 364px;
    height: 259px;
    background: #000;
    opacity: 4;
    transition: 0.3s;
  }

  #navbar .btn {
    border: none;
    width: 70px;
    height: 50px;
    z-index: 13;
    position: absolute;
    margin-left: 896px;
    margin-top: -2px;
  }

  #work .row--works__pod {
    margin-left: 162px;
  }

  #services .row--item--square {
    width: 357px;
    height: 391px;
    background: #FFFFFF;
    border-radius: 21px;
  }

  #services .row--item__square {
    width: 357px;
    height: 89px;
    background: #000000;
    border-radius: 20px;
    filter: drop-shadow(10px 10px 10px #171717);
  }

  #services .row--item__dots {
    width: 7px;
    height: 7px;
    background: #FFFFFF;
    border-radius: 50%;
    margin: 10px 8px;
  }

  #services .row--item--img {
    padding: 0 20px;
  }

  #services .row--item__page {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    margin-top: -15px;
    line-height: 33px;
    color: #FF001E;
    letter-spacing: 0.003em;
  }

  #services .row--item__page2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.003em;
    color: #000000;
    word-break: break-word;
  }

  #services .row--item__price2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
  }

  #services .row--item__price3 {
    padding: 0 44px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 33px;
    color: #FF001E;
  }

  #services .row--item__petitioner2 {
    color: white;
    width: 363px;
    height: 72px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    background: black;
    border: 2px solid #F5F7F9;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 30px 0;
  }

  #product .row--product--square {
    margin: 30px 20px;
    width: 405px;
    height: 429px;
    background: #222222;
    border-radius: 20px;
  }

  #product .row--product__planning {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #FF001E;
    margin: -260px 81px;
  }

  #product .row--product__literate {
    padding: 267px 36px;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
  }

  #product .row--product__blvd {
    margin: 249px 22px;
  }

  #product .row--product--square2 {
    width: 648px;
    height: 431px;
    background: #222222;
    border-radius: 20px;
    margin: 30px 0;
  }

  #product .row--product__design {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #FF001E;
    margin: -232px 118px;
  }

  #product .row--product__square3 {
    margin: 0 20px;
    width: 564px;
    height: 431px;
    background: #222222;
    border-radius: 20px;
  }

  #product .row--product__try2 {
    display: flex;
    justify-content: center;
    margin: -230px 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #FF001E;
  }

  #product .row--product__img2 {
    width: 479px;
    margin-left: -9px;
  }

  #product .row--product__square4 {
    width: 489px;
    height: 431px;
    background: #222222;
    border-radius: 20px;
  }

  #product .row--product__fo2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.003em;
    color: #FF001E;
    text-align: center;
    margin-top: -232px;
  }

  #product .row--product__fo3 {
    padding-left: 26px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
  }

  #product .row--product__img3 {
    width: 386px;
    margin-left: -21px;
  }

  #product .row--product--dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FF001E;
    margin: -12px 55px;
  }

  #product .row--product--dot2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FF001E;
    margin: 36px 57px;
  }

  #product .row--product__exa {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #FFFFFF;
    margin: -18px 77px;
  }

  #product .row--product__exa2 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #FFFFFF;
    margin: -18px 77px;
  }

  #product .row--product__square5 {
    margin: 30px 30px;
    width: 1075px;
    height: 329px;
    background: #222222;
    border-radius: 20px;
  }

  #product .row--product__five2 {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    margin-top: -250 px;
    color: #FF001E;
  }

  #application .row--application__your2 {
    padding: 35px 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #FFFFFF;
  }

  #application .row--application__card {
    width: 642px;
    height: 405px;
    background: #9D0013;
    border-radius: 20px;
    margin: 20px 92px;
  }

  #navbar .width {
    width: 40px;
    height: 3px;
    background: #ff0000;
    margin: -8px 0;
  }

  #navbar .card {
    width: 550px;
    height: 400px;
    background: #9D0013;
    border-radius: 20px;
    margin-left: 50px;
  }

  #navbar .name {
    width: 232px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 30px 16px;
    outline: none;
    padding: 0 20px;
  }

  #navbar .name2 {
    width: 232px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 20px;
  }

  #navbar .name3 {
    width: 234px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 20px;
    margin: 0 15px;
  }

  #navbar .name4 {
    width: 232px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 20px;
  }

  #navbar .area {
    width: 483px;
    height: 91px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 25px 15px;
    outline: none;
    padding: 0 35px;
  }

  #navbar .__btn {
    width: 486px;
    height: 40px;
    background: #222222;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    margin: -7px 15px;
    font-size: 20px;
  }

  #navbar .data {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #FFFFFF;
    margin: 15px 19px;
  }

  #navbar .menu3 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    color: #fff;
    border-bottom: transparent;
    transition: 0.5s;
    border-bottom: 1px solid transparent;
  }

  #navbar .row--title__img {
    position: absolute;
    width: 324px;
  }

  #navbar .row--title__card {
    z-index: 3;
    width: 324px;
    height: 206px;
    background: #000;
    opacity: 0;
    transition: 0.3s;
  }

  #navbar .row--title__lorem {
    color: white;
    padding: 54px 15px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  }

  #navbar .row--title__lorem2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin-top: -53px;
    color: #e1e1e1;
    padding: 0 15px;
  }

  #navbar .group4 {
    background: red;
    width: 990px;
    height: 2px;
  }
}
@media (max-width: 1024px) {
  #navbar {
    min-height: 148vh;
  }

  #navbar .row--title__fixed {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 27%;
    margin-left: -33px;
    background: rgba(0, 0, 0, 0.77);
  }

  #navbar .row--title__title {
    margin: 57px -70px;
    width: 19%;
    height: 100%;
  }

  #navbar .row--title__web {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    margin: 71px 75px;
    font-size: 28px;
    color: red;
    width: 125%;
  }

  #navbar .row--title__next {
    margin-left: -7px;
    animation: __next 1s ease-in-out alternate;
  }

  #navbar .row--title__titles {
    color: white;
    position: relative;
    margin: 0 7px;
    font-size: 9px;
  }

  #navbar .btn {
    border: none;
    width: 70px;
    height: 50px;
    z-index: 13;
    position: absolute;
    margin-left: 892px;
    margin-top: -1px;
  }

  #navbar .row--title__item {
    text-transform: uppercase;
    font-size: 55px;
    margin: -72px -2px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: white;
    filter: drop-shadow(5px 5px 5px #171717);
    animation: __item 2s ease-in-out alternate;
  }

  #navbar .row--title--item {
    margin: 53px 68px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 2px;
    color: #FFFFFF;
  }

  #motion .row--card__cards {
    width: 220px;
    height: 171px;
    background: #222222;
    border-radius: 20px;
  }

  #motion .row--card--cards {
    padding: 20px 85px;
  }

  #motion .row--card--cards2 {
    width: 218px;
    height: 44px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
  }

  #navbar .row--title__btn2 {
    width: 322px;
    height: 50px;
    background: #e70018;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    margin: -6px 69px;
  }

  #navbar .row--title__mode {
    margin: 20px 71px;
    color: white;
  }

  #work .row--works__img {
    position: absolute;
    width: 303px;
    height: 214px;
  }

  #work .row--works__card {
    width: 303px;
    height: 214px;
    background: #000;
    opacity: 4;
    transition: 0.3s;
  }

  #work .row--works__lorem {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 52px;
  }

  #work .row--works__pod {
    margin-left: 133px;
  }

  #services .row--item__ser {
    color: red;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 42px;
  }

  #services .row--item__square {
    width: 303px;
    height: 80px;
    background: #000000;
    border-radius: 20px;
    filter: drop-shadow(10px 10px 10px #171717);
  }

  #services .row--item__dots {
    width: 7px;
    height: 4px;
    background: #FFFFFF;
    border-radius: 50%;
    margin: 10px 8px;
  }

  #services .row--item--square {
    width: 304px;
    height: 391px;
    background: #FFFFFF;
    border-radius: 21px;
  }

  #services .row--item__page {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    margin-top: -18px;
    line-height: 33px;
    color: #FF001E;
  }

  #services .row--item__page2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.003em;
    color: #000000;
    word-break: break-word;
  }

  #services .row--item__price2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: #000000;
  }

  #services .row--item__price3 {
    padding: 0 33px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 33px;
    color: #FF001E;
  }

  #services .row--item--square {
    width: 304px;
    height: 369px;
    background: #FFFFFF;
    border-radius: 21px;
  }

  #services .row--item__petitioner2 {
    color: white;
    width: 318px;
    height: 65px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    background: black;
    border: 2px solid #F5F7F9;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 30px 0;
  }

  #product .row--product__proses {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FF001E;
  }

  #product .row--product__img {
    padding: 33px 33px;
    width: 130px;
  }

  #product .row--product__planning {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #FF001E;
    margin: -210px 105px;
  }

  #product .row--product__literate {
    padding: 222px 36px;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
  }

  #product .row--product__dots {
    width: 8px;
    height: 8px;
    background: #FF001E;
    border-radius: 50%;
    margin: -219px 37px;
  }

  #product .row--product__analysis {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    padding: 203px 61px;
  }

  #product .row--product--analysis1 {
    margin: -186px 37px;
  }

  #product .row--product__dots2 {
    width: 8px;
    height: 8px;
    background: #FF001E;
    border-radius: 50%;
  }

  #product .row--product__analysis2 {
    margin: -13px 23px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
  }

  #product .row--product__try3 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding: 238px 15px;
    color: #FFFFFF;
  }

  #product .row--product__blvd {
    margin: 203px 9px;
  }

  #product .row--product__tu {
    margin: 25px 25px;
    width: 110px;
  }

  #product .row--product__design {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #FF001E;
    margin: -184px 122px;
    text-align: center;
  }

  #product .row--product__stage {
    padding: 200px 27px;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
  }

  #product .row--product__stage2 {
    margin: -206px 27px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
  }

  #product .row--product__dot {
    width: 8px;
    height: 8px;
    background: #FF001E;
    border-radius: 50%;
    margin: 246px 27px;
  }

  #product .row--product__analysis3 {
    margin: -263px 50px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
  }

  #product .row--product--img2 {
    width: 105px;
  }

  #product .row--product--square2 {
    width: 546px;
    height: 431px;
    background: #222222;
    border-radius: 20px;
    margin: 30px 0;
  }

  #product .row--product__square3 {
    margin: 0 20px;
    width: 494px;
    height: 400px;
    background: #222222;
    border-radius: 20px;
  }

  #product .row--product__square4 {
    width: 402px;
    height: 431px;
    background: #222222;
    border-radius: 20px;
  }

  #product .row--product--3 {
    width: 130px;
  }

  #product .row--product__try2 {
    display: flex;
    justify-content: center;
    margin: -207px 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #FF001E;
  }

  #product .row--product__try3 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding: 238px 15px;
    color: #FFFFFF;
  }

  #product .row--product__try4 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    margin: -240px 14px;
  }

  #product .row--product__img2 {
    width: 418px;
    margin-left: -13px;
  }

  #product .row--product__square4 {
    width: 402px;
    height: 400px;
    background: #222222;
    border-radius: 20px;
  }

  #product .row--product--4 {
    width: 140px;
  }

  #product .row--product__fo2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    letter-spacing: 0.003em;
    color: #FF001E;
    text-align: center;
    margin-top: -190px;
  }

  #product .row--product__fo3 {
    padding-left: 16px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
  }

  #product .row--product--dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FF001E;
    margin: -27px 46px;
  }

  #product .row--product__exa {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    margin: 13px 62px;
  }

  #product .row--product--dot2 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FF001E;
    margin: 34px 46px;
  }

  #product .row--product__exa2 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    margin: -45px 62px;
  }

  #product .row--product__img3 {
    width: 346px;
    margin-left: -43px;
  }

  #studio .row--studio__studio {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: #FF001E;
    margin: 40px 0;
  }

  #studio .row--studio__studio2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.003em;
    color: #FFFFFF;
  }

  #studio .row--studio__studio3 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.003em;
    color: #FFFFFF;
  }

  #product .row--product__five2 {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    margin-top: -250px;
    color: #FF001E;
  }

  #product .row--product__five3 {
    margin-left: -5px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #FFFFFF;
  }

  #studio .row--studio__img {
    width: 200px;
  }

  #command .row .swiper-slide img {
    display: block;
    width: 85%;
  }

  #command .row .swiper-slide__found {
    color: white;
    filter: drop-shadow(3px 3px 3px #ffffff);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 20px;
    margin-left: -45px;
  }

  #command .row .swiper-slide__found2 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    margin-left: -41px;
  }

  #application .row--application__your {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
  }

  #application .row--application__your2 {
    padding: 35px 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #FFFFFF;
  }

  #application .row--application__card {
    width: 519px;
    height: 400px;
    background: #9D0013;
    border-radius: 20px;
    margin: 20px -32px;
  }

  #application .row--application__name {
    width: 216px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 30px 21px;
    outline: none;
    padding: 0 0;
    font-size: 14px;
  }

  #application .row--application__name2 {
    width: 225px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 0;
    font-size: 14px;
  }

  #application .row--application__name3 {
    width: 215px;
    height: 40px;
    font-size: 14px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 0;
    margin-left: 21px;
  }

  #application .row--application__name4 {
    width: 226px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 0;
    font-size: 14px;
    margin-left: -4px;
  }

  #application .row--application__area {
    width: 468px;
    height: 83px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 25px 21px;
    outline: none;
    font-size: 14px;
    padding: 7px 18px;
  }

  #application .row--application__btn {
    width: 469px;
    height: 35px;
    background: #222222;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    margin: -7px 21px;
  }

  #application .row--application__data {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #FFFFFF;
    margin: 15px 66px;
  }

  #application .row--application__data {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #FFFFFF;
    margin: 15px 66px;
  }

  #footer .row--footer__menu {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #000000;
    margin: 40px 0;
  }

  #footer .row--footer__menu3 {
    padding-top: 50px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
  }

  #footer .row--footer__nav {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    margin: 6px 0;
    position: relative;
  }

  #navbar .menu3 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 6px;
    color: #fff;
    border-bottom: transparent;
    transition: 0.5s;
    border-bottom: 1px solid transparent;
  }

  #navbar .menu {
    padding: 0 20px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
  }

  #navbar .card {
    width: 441px;
    height: 349px;
    background: #9D0013;
    border-radius: 20px;
    margin-left: 9px;
  }

  #navbar .name {
    width: 193px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 30px 16px;
    outline: none;
    padding: 0 0;
  }

  #navbar .name2 {
    width: 193px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 0;
  }

  #navbar .name3 {
    width: 193px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 0;
    margin: 0 15px;
  }

  #navbar .name4 {
    width: 193px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 0;
    margin-left: 3px;
  }

  #navbar .area {
    width: 410px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 25px 15px;
    outline: none;
    padding: 0 18px;
  }

  #navbar .__btn {
    width: 413px;
    height: 35px;
    background: #222222;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    margin: -7px 15px;
    font-size: 16px;
  }

  #navbar .data {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    margin: 15px 19px;
  }

  #navbar .menu31 {
    padding: 2px 0;
  }

  #navbar .group2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
  }

  #navbar .group3 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #afaaaa;
    font-size: 15px;
    margin-top: 13px;
  }

  #navbar .group4 {
    background: red;
    width: 874px;
    height: 2px;
  }

  #navbar .row--title__img {
    position: absolute;
    width: 265px;
  }

  #navbar .row--title__card {
    z-index: 3;
    width: 265px;
    height: 206px;
    background: #000;
    opacity: 0;
    transition: 0.3s;
  }

  #navbar .row--title___item {
    margin: 10px 0;
  }

  #navbar .row--title__lorem {
    color: white;
    padding: 21px 15px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
  }

  #navbar .row--title__lorem2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin-top: -16px;
    color: #e1e1e1;
    padding: 0 15px;
  }
}
@media (max-width: 992px) {
  #navbar .row--title__fixed {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 27%;
    margin-left: -15px;
    background: rgba(0, 0, 0, 0.77);
  }

  #navbar .row--title__next {
    margin-left: -36px;
    animation: __next 1s ease-in-out alternate;
  }

  #navbar .btn {
    border: none;
    width: 70px;
    height: 50px;
    z-index: 13;
    position: absolute;
    margin-left: 878px;
    margin-top: 34px;
  }

  #application .row--application__card {
    width: 516px;
    height: 400px;
    background: #9D0013;
    border-radius: 20px;
    margin: 20px -40px;
  }

  #application .row--application__your2 {
    padding: 35px 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin-left: -5px;
    color: #FFFFFF;
  }

  #application .row--application__data {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #FFFFFF;
    text-align: center;
  }

  #product .row--product__square5 {
    margin: 30px 30px;
    width: 918px;
    height: 329px;
    background: #222222;
    border-radius: 20px;
  }

  #navbar .row--title__fabs {
    display: flex;
    justify-content: flex-end;
    margin: -67px 0;
  }

  #navbar .hello {
    padding: 20px;
    width: 230px;
  }

  #navbar .name {
    width: 180px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 30px 16px;
    outline: none;
    padding: 0 0;
  }

  #navbar .name2 {
    width: 180px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 30px 16px;
    outline: none;
    padding: 0 0;
  }

  #navbar .name3 {
    width: 180px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 30px 16px;
    outline: none;
    padding: 0 0;
  }

  #navbar .name4 {
    width: 180px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 30px 16px;
    outline: none;
    padding: 0 0;
  }

  #navbar .area {
    width: 381px;
    height: 67px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 25px 15px;
    outline: none;
    padding: 0 18px;
  }

  #navbar .__btn {
    width: 383px;
    height: 33px;
    background: #222222;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    margin: -7px 15px;
    font-size: 16px;
  }

  #navbar .data {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    margin: 7px 19px;
  }

  #navbar .group4 {
    background: red;
    width: 792px;
    height: 2px;
  }

  #navbar .row--title__img {
    position: absolute;
    width: 257px;
  }

  #navbar .row--title__card {
    z-index: 3;
    width: 257px;
    height: 206px;
    background: #000;
    opacity: 2;
    transition: 0.3s;
  }

  #navbar .row--title__lorem {
    color: white;
    padding: 21px 15px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
  }

  #navbar .row--title__lorem2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    margin-top: -16px;
    color: #e1e1e1;
    padding: 0 15px;
  }

  #navbar .row--title__pod {
    color: #a9a5a5;
    text-decoration: none;
    margin: 200px 17px;
    font-size: 14px;
  }

  #navbar .row--title__items {
    padding-top: 200px;
  }

  #navbar {
    min-height: 117vh;
  }
}
@media (max-width: 768px) {
  #navbar .btn {
    border: none;
    width: 70px;
    height: 50px;
    z-index: 13;
    position: absolute;
    margin-left: 602px;
    margin-top: 22px;
  }

  #navbar .row--title__fixed {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 8%;
    margin-left: -24px;
    background: rgba(0, 0, 0, 0.77);
  }

  #navbar .row--title__item {
    text-transform: uppercase;
    font-size: 55px;
    margin: -91px -34px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: white;
    filter: drop-shadow(5px 5px 5px #171717);
    animation: __item 2s ease-in-out alternate;
  }

  #navbar .row--title--item {
    margin: 53px 34px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 2px;
    color: #FFFFFF;
  }

  #navbar .row--title__btn2 {
    width: 260px;
    height: 40px;
    background: #e70018;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    margin: -6px 34px;
  }

  #navbar .row--title__mode {
    margin: 20px 34px;
    color: white;
    font-size: 14px;
  }

  #navbar {
    min-height: 46vh;
  }

  #motion .row--card__cards {
    width: 171px;
    height: 149px;
    background: #222222;
    border-radius: 20px;
  }

  #motion .row--card--cards {
    padding: 20px 62px;
  }

  #motion .row--card--cards2 {
    width: 173px;
    height: 44px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
  }

  #navbar .row--title__title {
    margin: 67px -70px;
    width: 16%;
    height: 100%;
  }

  #navbar .row--title__web {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    margin: 78px 75px;
    font-size: 22px;
    color: red;
    width: 125%;
  }

  #work .row--works__img {
    position: absolute;
    width: 229px;
    height: 164px;
  }

  #work .row--works__card {
    width: 229px;
    height: 164px;
    background: #000;
    opacity: 4;
    transition: 0.3s;
  }

  #work .row--works__lorem {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 28px;
  }

  #work .row--works__pod {
    margin-left: 97px;
  }

  #services .row--item__ser {
    color: red;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 42px;
  }

  #services .row--item__dots {
    width: 2px;
    height: 4px;
    background: #FFFFFF;
    border-radius: 50%;
    margin: 10px 7px;
  }

  #services .row--item--img {
    padding: 0 19px;
    width: 80px;
  }

  #services .row--item--square {
    width: 225px;
    height: 351px;
    background: #FFFFFF;
    border-radius: 21px;
  }

  #services .row--item__page {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    margin-top: -24px;
    line-height: 33px;
    color: #FF001E;
  }

  #services .row--item__general {
    padding: 30px 15px;
  }

  #services .row--item__page2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 24px;
    letter-spacing: 0.003em;
    color: #000000;
    word-break: break-word;
  }

  #services .row--item__price3 {
    padding: 0 26px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 33px;
    color: #FF001E;
  }

  #services .row--item__petitioner {
    display: flex;
    justify-content: center;
    margin-left: 3px;
  }

  #services .row--item__petitioner2 {
    color: white;
    width: 253px;
    height: 53px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    background: black;
    border: 2px solid #F5F7F9;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 30px 0;
  }
}

/*# sourceMappingURL=media.css.map */
