@media (max-width: 1440px) {
  #navbar .row--title__fixed {margin-left: -60px;}
  #navbar .btn {margin-left: 1282px;margin-top: -3px;}
  #navbar {min-height: 82vh;}
  #navbar .row--title__next {margin-left: 189px;}
//  #navbar .row--title__fixed {height: 20%;margin-left: -620px;}
//  #navbar .btn {width: 76px;height: 70px;margin-left: 69%;margin-top: 28px;}
//  #navbar .width {width: 80px; height: 5px}
//  #navbar .width:before {width: 80px;height: 5px;margin: 11px -39px;}
//  #navbar .width:after {width: 80px;height: 5px;margin: 24px -39px;}
//  #navbar .row--title__next {margin-left: 24%;}
//  #navbar .row--title__titles {margin: 0 21px;font-size: 23px;width: 100px;}
//
}

@media (max-width: 1200px){
  #navbar .row--title__fixed {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 20%;
    margin-left: -29px;
    background: rgba(0, 0, 0, 0.77);
  }
  #navbar .row--title__title {
    margin: 43px -36px;
    width: 24%;
    height: 100%;
  }
  #navbar .row--title__web {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    margin: 61px 39px;
    font-size: 28px;
    color: red;
    width: 125%;
  }
  #navbar .row--title__btn {
    border: 1px solid white;
    width: 133px;
    height: 31px;
    border-radius: 7px;
    font-size: 15px;
    color: white;
    background: rgba(218, 218, 218, 0.13);
  }
  #navbar .row--title__titles {
    color: white;
    position: relative;
    margin: 0 7px;
    font-size: 12px;
    width: 100px;
  }
  #navbar .row--title__next {
    margin-left: 52px;}
  #navbar .row--title__item {
    text-transform: uppercase;
    font-size: 68px;
    padding: 38px 66px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: white;
    filter: drop-shadow(5px 5px 5px #171717);
    animation: __item 2s ease-in-out alternate;
  }
  #card .row--card--btn {
    width: 247px;
    font-size: 18px;
  }
  #card .row--card--btn2 {
    font-size: 16px;}
  #logo .row__card--klassica{
    margin-left: -40px;
  }
  #logo .row__card--klassica3{
    margin-left: 40px;
  }
  #navbar .btn {
    margin-left: 1047px;
    margin-top: 16px;
  }
  #navbar .row--title__btn2 {
    margin-left: 75px;}
  #navbar .row--title__mode {
    padding-left: 75px;
  }
  #navbar .row--title__fabs {
    padding-left: 63px;
  }
  #card .row--card--btn-2 {
    width: 250px;}
  #card .row--card--btn {
    width: 206px;}
  #application .row--application__card {
    width: 575px;}
  #application .row--application__name {
    width: 250px;}
  #application .row--application__name2 {
    width: 250px;}
  #application .row--application__name3 {
    width: 250px;}
  #application .row--application__name4 {
    width: 250px;}
  #application .row--application__area {
    width: 533px;}
  #application .row--application__btn {
    width: 533px;}

}

@media (max-width: 1024px) {
  #navbar .row--title__fixed {
    height: 16%;
    margin-left: -32px;}
  #navbar .row--title__web {
    margin: 61px 89px;
    font-weight: 700;
    font-size: 28px;}
  #navbar .row--title__next {
    margin-left: -86px;
    margin-top: 20px;

  }
  #navbar .row--title__titles {

    font-size: 11px;
  }
  #navbar .row--title__title {
    margin: 43px -87px;
    width: 19%;
    height: 100%;
  }
  #navbar .btn {
    margin-left: 884px;
    margin-top: 13px;
  }
  #navbar .row--title__item {font-size: 59px;
    padding: 8px 10px}
  #navbar .row--title__btn2 {
    margin-left: 12px;
    margin-top: -3px;
  }
  #navbar .row--title__mode {
    padding-left: 12px;
  }
  #navbar .row--title__fabs {
    padding-left: 4px;
  }
  #card .row--card--btn-2 {
    width: 209px;
    font-size: 16px;
  }
  #card .row--card--btn {
    width: 169px;
    font-size: 16px;
  }
  #logo .row__card--klassica3 {
    margin-left: 149px;
    margin-top: 40px;
  }
  #application .row--application{
    text-align: center;
  }
  #application .row--application__card{
    margin-left: 20%;
  }
  #footer .row--footer__ins {
    margin: 0 59px}
  #navbar .row--title__block {
    margin-top: -392px;
    margin-left: -44px;}
  #navbar .row--title__square {
    margin-left: 254px;
    margin-top: 148px;}
  #card .row--card__block {
    margin-top: -774px;
    margin-left: -44px;
  }
  #card .row--card__square {
    margin-top: 148px;
    margin-left: 254px;}
  #footer .row--footer__ins {
    margin: 0 35px;
  }
}

@media (max-width: 992px) {
  #navbar .row--title__fixed {position: fixed;z-index: 4;width: 100%;height: 15%;margin-left: -16px;background: rgba(0, 0, 0, 0.77);}
  #navbar .row--title__next {margin-left: -65px;}
  #navbar .btn {margin-left: 874px;margin-top: 29px;}
  #navbar .row--title__web {
    margin: 57px 89px;
    font-weight: 700;
    font-size: 24px;
  }
  #navbar .row--title__titles {
    font-size: 11px;
    padding: 0 1px;
  }
  #navbar .btn {
    margin-left: 874px;
    margin-top: 9px;
  }

}

@media (max-width: 768px){
  #navbar .row--title__next {
    margin-left: -65px;
    display: none;
  }
  #navbar .row--title__fixed {
    margin-left: -24px;}
  #navbar .btn {
    margin-left: 632px;
    margin-top: 6px;}
  #navbar .row--title__item {
    font-size: 50px;}
  #navbar .row--title__btn2 {
    width: 267px;
    font-size: 19px;}
  #navbar .row--title__btn3 {
    width: 185px;
    font-size: 19px;}
  #card .row--card__card {
    margin-left: 19px;
    margin-top: 25px;
  }
  #card .row--card__cards {
    width: 250px;
    height: 140px;
    margin-top: 30px;}
  #card .row--card__lorem {
    padding: 40px 244px;
  }
  #logo .row__card--klassica {
    margin-left: -85px;
  }
  #logo .row__card--klassica3 {
    margin-left: 69px;}
  #application .row--application__card {
    margin-left: 9%;
  }
  #footer .row--footer__project {
    font-size: 36px;}
  #footer .row--footer__btn {
    width: 260px;
    font-size: 24px;}
  #footer .row--footer__ins {
    margin: -1px 28px;
  }
  #navbar .row--title__block {
    margin-top: -371px;
    margin-left: -35px;
  }
  #navbar .row--title__square {
    margin-left: 111px;}
  #card .row--card__block {
    margin-top: -966px;
    margin-left: -34px;
  }
  #card .row--card__square {
    margin-left: 111px;}
}

@media (max-width: 576px){
  #navbar .row--title__fixed {
    margin-left: -17px;
  }
  #navbar .btn {
    margin-left: 439px;
    margin-top: 1px;
  }
  #navbar .row--title__item {
    font-size: 38px;
    margin-top: 25px;
  }
  #navbar .row--title__btn2 {
    width: 196px;
    font-size: 14px;
  }
  #navbar .row--title__btn3 {
    width: 130px;
    font-size: 14px;
  }
  #navbar .row--title__fab {
    color: red;
    margin: 0 64px;
    font-size: 39px;
  }
  #card .row--card__card {
    margin-left: 155px;
    margin-top: 25px;
  }
  #card .row--card__cards {
    margin-left: 135px;
  }
  #card .row--card__lorem {
    padding: 40px 150px;
  }
  #card .row--card__items {
    font-size: 31px;
    text-align: center;}
  #card .row--card__items2 {
    font-size: 15px;
    text-align: center;}
  #card .row--card--btn-2 {
    margin-left: 52px;
  }

}